.sidebar.sidebar-profile
  .profile-box
    img.avatar(gravatar-src='user.email', gravatar-size='128')
    h3.username {{ user.username | capitalize }}
    .label.label-danger(ng-show='user.admin') admin

  .sidebar-divider
  ul.sidebar-menu
    li
      a(href='#/profile/uploads') My uploads
    li
      a(href='#/profile/favourites') Favourites
    li
      a(href='#/profile/settings') Settings

  .sidebar-divider
