img.img-thumbnail(ng-src='{{ file.link }}')

.btn-toolbar.file-tools(ng-show='auth.user.id == file.user_id')
  .btn-group
    button.btn.btn-danger(ng-click='delete()')
      span.glyphicon.glyphicon-remove-circle
      |  delete
    button.btn.btn-default bar

h2
  img(gravatar-src='user.email', gravatar-size='36')
  | {{ user.username }}
