div(header)
div(ng-repeat='file in files')
  a(target='_blank', ng-href='{{ file.link }}', ng-if='file.file_type === "image"')
    img.file-view.img-responsive(ng-src='{{ file.link }}')

  a(target='_blank', ng-href='{{ file.link }}', ng-if='file.file_type === "video"')
    div(youtube-embed='{{ file.video }}')

  .file-header
    a(ng-href='#/user/{{ file.user.$name }}')
      img(gravatar-src='file.user.email', gravatar-size='36')
      | {{ file.user.username }}

    .btn-toolbar.file-tools
      .btn-group
        button.btn.btn-primary(ng-click='addFavourite(file)', ng-hide='user.favourites[file.$name]')
          span.glyphicon.glyphicon-heart
          span favourite

        button.btn.btn-primary(ng-click='unFavourite(file)', ng-show='user.favourites[file.$name]')
          span.glyphicon.glyphicon-heart-empty
          span unfavourite

      .btn-group(ng-show='user.$name == file.user_id || user.admin')
        button.btn.btn-danger(ng-click='delete(file)')
          span.glyphicon.glyphicon-remove-circle
          span delete

    .clearfix
