@import 'mixins'
@import '../../vendor/bootstrap/dist/css/bootstrap.css'
@import '../../public/css/bootstrap-additions.css'
@import '../../public/css/angular-motion.css'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

body, html
  margin 0
  font-family 'Open Sans', sans-serif
  -webkit-font-smoothing antialiased
  background #fafafa

.header-navigation
  background #5cb85c
  border-radius 0
  margin-bottom 0
  border-bottom 1px solid #47A447

  .header-button
    color #fff
    &:hover
      background #47a447
      text-shadow 1px -1px 0px rgba(0, 0, 0, 0.1)

  .navbar-collapse
    padding-left 0

  .header-button-upload
    font-size 2em
    padding 0.4em 1em

  .navbar-right
    height 50px

  .nav-avatar
    padding 5px
    margin-left 10px
    margin-right 5px

.upload-icon
  font-size 1.5em

.file-view
  margin auto

.file-header
  padding 1em
  margin-top 1em
  h2
    font-size 2em
    margin-top 0
  img
    margin-right 0.2em

  h2
    float left

.file-thumbnails
  padding 0.5em


.file-thumbnail
  margin 0.5em

.file-tools
  vertical-align bottom
  float right

.upload-aside
  .aside-dialog
    .aside-header
      .close
        font-size 1.4em
        margin-top 0.5em

.modal-backdrop.animation-fade
  opacity .5
  transition opacity .15s linear
  &.ng-enter
    opacity 0
    &.ng-enter-active
      opacity .5
  &.ng-leave
    opacity .5
    &.ng-leave-active
      opacity 0
