@import 'mixins'
@import '../../vendor/bootstrap/dist/css/bootstrap.css'
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

body, html
  margin 0
  font-family 'Open Sans', sans-serif
  -webkit-font-smoothing antialiased

#header
  font-weight 400
  .navbar
    border-radius 0
  .nav-profile a
    padding 0
  .nav-avatar
    padding 5px
    margin-left 10px
    margin-right 5px
.file-tools
  margin-top 1em
