@import 'mixins'
@import '../../vendor/bootstrap/dist/css/bootstrap.css'
@import '../../public/css/bootstrap-additions.css'
@import '../../public/css/angular-motion.css'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')

body, html
  margin 0
  font-family 'Open Sans', sans-serif
  -webkit-font-smoothing antialiased
  background #fafafa
  color #333


.header
  height 60px
  background #5cb85c
  border-bottom 1px solid #47A447

  .header-section
    list-style none
    margin-bottom 0
    padding 0
    height 60px
    float left
    font-weight 600

  .header-section-right
    float right

  .header-button
    color #fff
    padding 0 20px
    float left
    cursor pointer
    user-select none
    line-height 60px
    &:hover
      background #47a447
      text-shadow 1px -1px 0px rgba(0, 0, 0, 0.1)

  .header-avatar
    margin-right 1em
    width 30px
    heigth 30px
    border-radius 18px

  .glyphicon
    font-size 1.2em
    margin-right 0.5em
    vertical-align -0.2em

.view
  border-top 5px solid #fff

.file-view
  margin auto

.file-header
  padding 1em
  margin-top 1em
  h2
    font-size 2em
    margin-top 0
  img
    margin-right 0.2em

  h2
    float left

.file-thumbnails
  padding 0.5em


.file-thumbnail
  margin 0.5em

.file-tools
  vertical-align bottom
  float right

.youtube-embed
  margin auto
  width 100%
  display block

.form-group
  label
    font-weight 400
    margin-bottom 1em

.modal-content
  border-radius 0

.modal-header
  position relative
  .close
    position absolute
    top 50%
    right 1em
    margin-top -0.5em


.upload-modal
  .alert
    margin-bottom 0

  .modal-body
    padding 0
    background #222

  form
    background #222
  .modal-footer
    background #fff

  .form-group
    padding 1.5em
    margin 0
    padding-right 34px
    position relative
    overflow hidden
    background #333
    border-bottom 1px solid #111
    border-top 1px solid rgba(255, 255, 255, 0.1)
    box-shadow none
    label
      margin-bottom 0

  input[type='text']
    width 60%
    float left
    margin-top 3px

  .upload-preview
    height 100%
    width 40%
    background-size cover
    position absolute
    top 0
    right 0
    margin-left 1em

  .upload-label
    color #fff

  .file-input
    margin-bottom 0
    input
      display none

.alert
  border-radius 0

.btn
  border-radius 0
  box-shadow none
  border 0
  padding 0.7em 2em
  font-weight 300
  font-size 14px
  text-decoration none
