doctype html
html
  head
    title Time to CC
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/bundle.js')

  body(ng-app='app')
    #header(ng-controller='headerCtrl')
      nav.navbar.navbar-inverse
        .navbar-header
          a.navbar-brand(href='/') Time to CC

        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li(ng-show='user')
              a(href='#', ng-click='upload()') Upload

          ul.nav.navbar-nav.navbar-right
            li(ng-hide='user')
              a(href='#', ng-click='login()') Log in

            li(ng-hide='user')
              a(href='#', ng-click='signup()') Sign up

            li.nav-profile(ng-show='user')
              a(href='#', ng-click='logout()')
                | Log out
                img.nav-avatar(gravatar-src='user.email', gravatar-size='36')



    .container(ng-view)
