doctype html
html
  head
    title Time to CC
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/bundle.js')

  body(ng-app='app')
    #header(ng-controller='headerController')
      nav.header-navigation.navbar(bs-navbar)
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li(ng-show='user', ng-controller='uploadController')
              a.header-button.header-button-upload(bs-aside='aside', data-template='/partials/upload.html', data-animation='animation-slide-left', data-placement='left')
                span.glyphicon.glyphicon-cloud-upload


          ul.nav.navbar-nav.navbar-right(ng-hide='user')
            li(ng-controller='loginController')
              a.header-button(bs-modal='modal', data-template='/partials/login.html', data-animation='animation-fadeAndScale', data-placement='center')
                span.glyphicon.glyphicon-user
                | Log in
            li(ng-controller='signupController')
              a.header-button(bs-modal='modal', data-template='/partials/signup.html', data-animation='animation-fadeAndScale', data-placement='center')
                span.glyphicon.glyphicon-pencil
                | Sign up


          ul.nav.navbar-nav.navbar-right(ng-show='user')
            li
              a.header-button(href='#', ng-click='logout()')
                | Log out
            li
              img.nav-avatar(gravatar-src='user.email', gravatar-size='36')



    .view(ng-view)
