.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Login
        | No account?&nbsp;
        a(href='#/signup') Sign up

      form(role='form', ng-submit='login()')
        .alert.alert-danger(ng-show='loginError && loginError == "INVALID_USER"') Invalid user
        .alert.alert-danger(ng-show='loginError && loginError == "INVALID_USER"') Invalid user
        .alert.alert-danger(ng-show='loginError && loginError == "INVALID_PASSWORD"') Invalid password
        .alert.alert-danger(ng-show='loginError && loginError == "USER_NOT_FOUND"') Account not found
        .alert.alert-info(ng-show='loginError && loginError == "USER_NOT_ACCEPTED"') Your account is waiting for approval

        .modal-body
          .form-group
            label(for='email') Email address
            input#email.form-control(type='email', placeholder='Enter email', ng-model='email')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', placeholder='Password', ng-model='password')

        .modal-footer
          button.btn.btn-primary(type='submit')
            span(ng-hide='loggingIn') Log in
            span(ng-show='loggingIn') Logging in...
