.aside.upload-aside
  .aside-dialog
    .aside-content(ng-file-drop='onFileSelect($files)', ng-file-paste='onFilePaste($files)')
      .aside-header
        button.close(type='button', aria-hidden='true', ng-click='close()') ×
        h4.aside-title
          span.glyphicon.glyphicon-cloud-upload.upload-icon

      form(role='form', ng-submit='submit()')
        .aside-body
            div(ng-switch='error', ng-show='error')
              .alert.alert-danger(ng-switch-when='NOTHING_SELECTED')
                | No file or URL selected
              .alert.alert-danger(ng-switch-default)
                | {{ error }}
            .form-group(ng-if='filePreview || url')
              label File preview

              div(ng-if='filePreview')
                img.img-thumbnail(ng-src='{{ filePreview }}')

              div(ng-if='url')
                img.img-thumbnail(ng-src='{{ url }}')

            .form-group
              label(for='file') Select file
              input#file.form-control(type='file', ng-file-select='onFileSelect($files)')
            .form-group
              label(for='url') Insert URL
              input#url.form-control(type='text', ng-model='url')

          .aside-footer
            button.btn.btn-primary(type='submit')
              span(ng-hide='submitting') Submit
              span(ng-show='submitting') Submitting...
