.modal.upload-modal
  .modal-dialog
    .modal-content(ng-file-drop='onFileDrop($files)', ng-file-paste='onFilePaste($files)')
      .modal-header
        button.close(type='button', aria-hidden='true', ng-click='close()') ×
        h4.modal-title
          span.glyphicon.glyphicon-cloud-upload.upload-icon

      form(role='form', ng-submit='submit()')
        .modal-body
          .alert.alert-danger(ng-show='error')
            | {{ error }}

          .form-group(ng-if='data.drop')
            .upload-label {{ data.drop.name }}
            .upload-preview(ng-style='{ "background-image": "url(" + preview.drop + ")" }', ng-if='preview.drop')

          .form-group(ng-if='data.paste')
            .upload-label Pasted image
            .upload-preview(ng-style='{ "background-image": "url(" + preview.paste + ")" }', ng-if='preview.paste')

          .form-group
            label.file-input.btn.btn-primary(for='file')
              | Select file
              input#file(type='file', ng-file-select='onFileSelect($files)')
            .upload-preview(ng-style='{ "background-image": "url(" + preview.file + ")" }', ng-if='preview.file')

          .form-group
            input.form-control(type='text', ng-change='urlChange()', ng-model='data.url', placeholder='Insert image URL')
            .upload-preview(ng-style='{ "background-image": "url(" + preview.url + ")" }', ng-if='preview.url')

          .form-group
            input.form-control(type='text', ng-change='youtubeChange()', ng-model='data.youtube', placeholder='Insert Youtube URL')
            .upload-preview(ng-style='{ "background-image": "url(" + preview.youtube + ")" }', ng-if='preview.youtube')

        .modal-footer
          button.btn.btn-primary(type='submit')
            span(ng-hide='submitting') Submit
            span(ng-show='submitting') Submitting...
