.modal-header
  button.close(type='button', aria-hidden='true', ng-click='close()') ×
  h4.modal-title Upload

form(role='form', ng-submit='submit()')
  .alert.alert-danger(ng-show='error && error == "NOTHING_SELECTED"')
    | No file or URL selected

  .modal-body
    .form-group
      label(for='file') Select file
      input#file.form-control(file-input='file', type='file', on-change='parseFile()')
    .form-group
      label(for='url') Insert URL
      input#url.form-control(type='text', ng-model='url')

  .modal-footer
    button.btn.btn-primary(type='submit')
      span(ng-hide='submitting') Submit
      span(ng-show='submitting') Submitting...
